@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* html{
  cursor: none;
} */

.cursor{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: fixed;
  z-index: 999;
  background-color: #000000;
}
.follower-cursor{
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #000000;
  position: fixed;
  z-index: 999;
  border-radius: 50%;
}

:root {
  --color-bg: #91978a;
  --color-accent: #ab3429;
  --color-text: #322c26;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Monorama";
  background: var(--color-bg);
}

p{
  font-size: 17px;
  line-height: 1;
  color: var(--color-text);
}

nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 4em;
}

.logo h1{
  font-family: "Lexa";
  font-size: 80px;
  color: var(--color-accent);
}

.nav-buttons{
  display: flex;
  align-items: center;
  gap: 2em;
}

button{
  position: relative;
  background: none;
  border: 1px solid var(--color-text);
  border-radius: 0.25em;
  font-size: 17px;
  color: var(--color-text);
  font-family: "Monorama";
  padding: 0.25em 0.75em;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s;
  z-index: 100;
}

button span{
  padding-right: 0.5em;
}

button:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--color-text);
  z-index: -1;
  transition: all 0.3s;
}

button:hover{
  color: var(--color-bg);
}

button:hover:after{
  width: 100%;
}

.sub-nav{
  position: relative;
  right: -25%;
  width: 75%;
  padding: 4em;
  display: flex;
  justify-content: space-between;
  color: var(--color-text);
}

.sub-nav p:nth-child(1){
  width: 30%;
}

p.primary{
  font-size: 40px;
  text-align: right;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2em 4em 4em 4em;
  display: flex;
}

footer > div {
  flex: 1;
}

.slide-info {
  display: flex;
  align-items: flex-start;
  gap: 2em;
}

.slide-info > div{
  flex: 1;
}

.slide-info p {
  font-size: 42px;
  padding: 0.5em 0 1.5em 0;
}

.year p:nth-child(1),
.role p:nth-child(1),
.agency p:nth-child(1),
.awards p:nth-child(1) {
  margin-bottom: 2em;
}

.hero-img{
  position: absolute;
  right: 4em;
  bottom: 35%;
  width: 600px;
  height: 200px;
}

.mask{
  position: absolute;
  width: 600px;
  height: 200px;
  background-size: cover;
}

/* .loader{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--color-accent);
  color: var(--color-text);
  z-index: 10000;
}

.counter{
  position: fixed;
  right: 0;
  bottom: 0;
  font-size: 40px;
  padding: 2em;
} */